# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

#build
ios/
android/
# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# 토큰 config 파일 (보안상 깃허브에 올라가지 않음)
config/tokens.ts

# typescript
*.tsbuildinfo

app-example
